name: Build and deploy Spring Boot app to Azure Web App - todo-taskmanager-app

on:
  push:
    branches:
      - main
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Java 17
        uses: actions/setup-java@v4
        with:
          java-version: '17'
          distribution: 'microsoft'

      - name: Build Spring Boot backend with Maven
        working-directory: task-manager-backend
        run: mvn clean package -DskipTests

      - name: Upload JAR artifact
        uses: actions/upload-artifact@v4
        with:
          name: java-app
          path: task-manager-backend/target/*.jar

  deploy:
    runs-on: ubuntu-latest
    needs: build

    permissions:
      id-token: write
      contents: read

    steps:
      - name: Download artifact
        uses: actions/download-artifact@v4
        with:
          name: java-app

      - name: Login to Azure
        uses: azure/login@v2
        with:
          client-id: ${{ secrets.AZUREAPPSERVICE_CLIENTID_67DE49E4F35A490FBF92DB09D1B9F998 }}
          tenant-id: ${{ secrets.AZUREAPPSERVICE_TENANTID_EDB87894775649F6BA5904DE99A507A9 }}
          subscription-id: ${{ secrets.AZUREAPPSERVICE_SUBSCRIPTIONID_239269C7C38E4EC4BC4A06D15ABF4B12 }}

      - name: Deploy to Azure Web App
        uses: azure/webapps-deploy@v3
        with:
          app-name: todo-taskmanager-app
          slot-name: Production
          package: '*.jar'
